.about-us {
    .main__title {
        margin-bottom: 65px;
    }

    .services-wrapper {
        margin-bottom: 60px;
    }
}

.about-us__description._right {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}


.about-us__title {
    width: 100%;
    color: #1D1F22;
}

.work-years {
    font-family: 'Montserrat';
    font-size: 71px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-3;
    margin-bottom: 90px;
}

._first {
    margin-bottom: 32px;
}

._second {
    margin-bottom: 62px;
}

.img-wrapper {
    margin-bottom: 90px;
}



