.contacts {
    .page__inner p {
        margin-bottom: 32px;
    }
    
    .main__title {
        margin-bottom: 27px;
    }

    .social__items {
        padding: 12px 38px;
        background-color: $color-2;
        border-radius: 8px;
        width: 190px;
        display: flex;
        gap: 20px;
    }
}

.map-wrapper {
    width: 100%;
    border: 9px solid $color-1;
    border-radius: 8px;
    margin-bottom: 44px;

    iframe {
        width: 100%;
    }
}

.contacts__list {
    display: flex;
    justify-content: space-around;   
}

.contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;

    a {
        display: inline-block;
    }
}

.contact__item-desc {
    text-align: center;
}

.svg-wrapper {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
    background: $color-2;
    border-radius: 50%;
    margin-bottom: 34px;
}

.contacts__item-title {
    color: #3E3E51;
    font-size: 20px;
    margin-bottom: 60px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 108px;
        left: 0;
        right: 0;
        bottom: -45px;
        margin: 0 auto;        
        height: 5px;
        background-color: $color-1;
        border-radius: 100px;
    }
}

@media (max-width: 873px) {
    .contacts__list {
        flex-direction: column;
        gap: 50px;
    }
    
    .contact__item {
        flex-direction: row;
        gap: 22px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact__item-desc {
        text-align: start;
    }

    .contacts__item-title::after {
        margin: 0;
    }
}