.navigation .container {
    border: 9px solid $color-1;
    border-radius: 100px;
    position: relative;
    margin-bottom: calc(80px + 70 * (100vw / 1200));
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;

    span {
        width: 1px;
        height: 5px;
        background-color: $color-1;
    }
}

.navigation__link {
    color: $color-4;
    font-size: 12px;
    text-decoration: underline;
    transition: .3s;
    
    &:hover {
        color: $color-1;
    }
}

.swiper {
    width: 100%;
}

.navigation-swiper {  
    position: static;

    .swiper-slide {
        margin: 0;
        text-align: center;
    }

    .swiper-buttons {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -70px;
    }
}
