<div class="container">
    <div class="bread-crumbs">Главная  |  О нас</div>
</div>


<section class="about-us">
    <div class="container">
        <div class="page__inner">
            <div class="about-us__description">
                <h1 class="main__title">О Компании</h1>
                <p>Сегодня множество организаций оказывают населению клининговые услуги. Рынок насыщен объявлениями от
                    различных фирм, предлагающих быстро и качественно справиться со всеми поставленными задачами. Вот только
                    результаты проделанной работы не всегда удовлетворяют заказчика и часто не соответствуют рекламным
                    обещаниям. Клининговая компания "Фатум-Сервис" доказывает свой профессионализм не пустыми обещаниями, а
                    качественной работой, позволяющей эффективно решить все проблемы с оптимальным для клиента результатом.
                </p>
            </div>
            <div class="page__form">
                <h2 class="page__form-title">Фатум-Сервис</h2>
                <h3 class="page__form-subtitle">Мы дарим чистоту и уют!</h3>
                <p>Чтобы задать вопрос или оформить заказ, нажмите на кнопку ниже:</p>
                <button class="btn _transparent">Написать нам</button>
            </div>
        </div>

        <div class="img-wrapper">
            <img src="images/about-us-bg.avif" alt="">
        </div>

        <!--=include services.html --> 
        
        <div class="page__inner">
            <div class="about-us__description">
                <h2 class="section__title about-us__title">Клининговая компания «Фатум-Сервис»</h2>
                <h3 class="section__subtitle _first">это молодая и активно развивающаяся клининговая компания, охватывающая полный спектр клининговых услуг.</h3>
                <p>
                    Обращаясь к нам, Вы получаете возможность больше не задумываться о поддержании чистоты и порядка. Сотрудничество с нашей компанией освобождает Вас от многих проблем, связанных с набором персонала и его заменой, выбором, покупкой, обслуживанием оборудования и от многих других неудобств. Наш персонал обладает профессиональными навыками, которые достигаются постоянным обучением и применением на практике технологий разработанных группой высококлассных специалистов-технологов. В компании работают люди с большим стажем работы в области клининговых услуг. 
                </p>
            </div>
            <div class="about-us__description _right">
                <!-- <h2 class="section__title work-years">2010 - 2023</h2> -->
                <h3 class="section__subtitle _second">Мы дарим чистоту и уют!</h3>
                <p>Термин клининг от английского «clean», что в переводе означает – убирать, чистить. Клининг как понятие – это профессиональная уборка помещений, зданий и прилегающих территорий силами специализированных компаний. Клининговые компании обеспечивают широкий спектр работ по уборке помещений. Сервис основывается на использовании современных технологий, применении новейших организационных принципов, эффективной техники и высококачественных химических средств. Главным фактором качества предоставляемых клининговых услуг являются сотрудники, которые специально подобраны и подготовлены.</p>
                
            </div>
        </div>
       


    </div>
</section>