<section class="advices">
    <div class="container">
        <h2 class="section__title">Полезные советы</h2>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide advice">
                    <img src="images/advice1.avif" alt="">
                    <h3 class="advice__title">Насколько важно жить в чистой квартире</h3>
                    <p>Вас устраивает чистота вашей квартиры? Наш дом – это наша среда обитания. А знаете ли вы,
                        какие...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice2.avif" alt="">
                    <h3 class="advice__title">Необходимость ежедневной уборки в офисе</h3>
                    <p>Место, где люди работают, проводя по восемь-десять часов, пять дней в неделю, не в меньшей...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice3.avif" alt="">
                    <h3 class="advice__title">Насколько важно жить в чистой квартире</h3>
                    <p>Вас устраивает чистота вашей квартиры? Наш дом – это наша среда обитания. А знаете ли вы,
                        какие...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice4.avif" alt="">
                    <h3 class="advice__title">Необходимость ежедневной уборки в офисе</h3>
                    <p>Место, где люди работают, проводя по восемь-десять часов, пять дней в неделю,К не в меньшей...
                    </p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice1.avif" alt="">
                    <h3 class="advice__title">Насколько важно жить в чистой квартире</h3>
                    <p>Вас устраивает чистота вашей квартиры? Наш дом – это наша среда обитания. А знаете ли вы,
                        какие...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice2.avif" alt="">
                    <h3 class="advice__title">Необходимость ежедневной уборки в офисе</h3>
                    <p>Место, где люди работают, проводя по восемь-десять часов, пять дней в неделю, не в меньшей...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice3.avif" alt="">
                    <h3 class="advice__title">Насколько важно жить в чистой квартире</h3>
                    <p>Вас устраивает чистота вашей квартиры? Наш дом – это наша среда обитания. А знаете ли вы,
                        какие...</p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
                <div class="swiper-slide advice">
                    <img src="images/advice4.avif" alt="">
                    <h3 class="advice__title">Необходимость ежедневной уборки в офисе</h3>
                    <p>Место, где люди работают, проводя по восемь-десять часов, пять дней в неделю,К не в меньшей...
                    </p>
                    <a href="#!" class="learn-more">Подробнее >></a>
                </div>
               

            </div>
            <div class="swiper-buttons">
                <svg class="button-prev" xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13" fill="none">
                    <path d="M7.21338 1.74756L2.21338 6.74756L7.21338 11.7476" stroke="white" stroke-width="2" stroke-linecap="round"/>
                </svg>

                <span></span>

                <svg class="button-next" xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                    <path d="M1.32764 1.74756L6.32764 6.74756L1.32764 11.7476" stroke="white" stroke-width="2" stroke-linecap="round"/>
                  </svg>
            </div> 
            
        </div>

       
    </div>
</section>