<section class="benefits">
    <div class="container">
        <h2 class="section__title">Преимущества клининговой компании <br> <span>«Фатум-Сервис»</span> </h2>
        <div class="benefits-wrapper">
            <div class="benefit">«Фатум-Сервис» выполняет заказы любого объема и сложности. Мы выезжаем к заказчику в любое, удобное для него время суток. Если клиенту необходимо, чтобы клининговое обслуживание было предоставлено в сжатые сроки, наши сотрудники готовы работать круглосуточно и без выходных. Все работники нашей организации имеют большой опыт в данной сфере и с энтузиазмом относятся выполняемым заказам.</div>
            <div class="benefit"><img src="images/benefit1.avif" alt=""></div>
            <div class="benefit">
                <img src="images/benefit2.avif" alt="">
                <img src="images/benefit3.avif" alt="">
            </div>
            <div class="benefit">
                <p>Специализированные химические средства, которые мы используем, отличаются экологической безопасностью и не оказывают негативное воздействие на здоровье людей, домашних животных и растения. Уборка в клининговой компании «Фатум-Сервис» осуществляется с использованием профессиональной аппаратуры и чистящих спецсредств от проверенных мировых производителей.</p>
                <p>Совокупность данных факторов позволяет нашим сотрудникам выполнять сервис на высочайшем уровне и в сжатые сроки. Мы находим индивидуальный подход к каждому и стремимся максимально удовлетворить все его требования. Вдобавок обслуживание от «Фатум-Сервис» доступна по оптимальной цене, что позволит Вам отлично сэкономить деньги, время и силы</p>
            </div>
        </div>
    </div>
</section>