<section class="faq">
    <div class="container">
        <h2 class="section__title">Вопрос ответ?</h2>

        <div class="faq-block">
            <div class="question-block">           
                <h3 class="question" >Как происходит оплата уборки? Нужна ли предоплата?</h3>
                <div class="open-answer">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="answer">
                <p>Расчет с юридическими лицами может производиться по безналичному расчету и наличными с частными лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда заказ срочный и провести оплату заказчик не успевает. Тогда можно внести залог, предоставить гарантийное письмо, и сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем без предоплаты. Расчет производится после окончания и приемки результатов работ.</p>
                
            </div>
        </div>

        <div class="faq-block">
            <div class="question-block">           
                <h3 class="question" >Как происходит оплата уборки? Нужна ли предоплата?</h3>
                <div class="open-answer">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="answer">
                <p>Расчет с юридическими лицами может производиться по безналичному расчету и наличными с частными лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда заказ срочный и провести оплату заказчик не успевает. Тогда можно внести залог, предоставить гарантийное письмо, и сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем без предоплаты. Расчет производится после окончания и приемки результатов работ.</p>
                
            </div>
        </div>


        <div class="faq-block">
            <div class="question-block">           
                <h3 class="question" >Как происходит оплата уборки? Нужна ли предоплата?</h3>
                <div class="open-answer">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="answer">
                <p>Расчет с юридическими лицами может производиться по безналичному расчету и наличными с частными лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда заказ срочный и провести оплату заказчик не успевает. Тогда можно внести залог, предоставить гарантийное письмо, и сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем без предоплаты. Расчет производится после окончания и приемки результатов работ.</p>
                
            </div>
        </div>


        <div class="faq-block">
            <div class="question-block">           
                <h3 class="question" >Как происходит оплата уборки? Нужна ли предоплата?</h3>
                <div class="open-answer">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="answer">
                <p>Расчет с юридическими лицами может производиться по безналичному расчету и наличными с частными лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда заказ срочный и провести оплату заказчик не успевает. Тогда можно внести залог, предоставить гарантийное письмо, и сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем без предоплаты. Расчет производится после окончания и приемки результатов работ.</p>
                
            </div>
        </div>
        
       
        

    </div>
</section>