<div class="container">
    <div class="bread-crumbs">Главная | Цены</div>
</div>


<section class="prices-page">
    <div class="container">

        <div class="clining-for">
            <input type="radio" id="individual" name="clining-for" checked>
            <label class="clining-for_input" for="individual">Цены для физических лиц</label>
            <input type="radio" id="entity" name="clining-for">
            <label class="clining-for_input" for="entity">Цены для юридических лиц</label>
        </div>

        <div class="individual-prices prices-cotainer active">
            <h1 class="main__title">Цены на клининг для физических лиц</h1>
            <button class="btn ">Отправить заявку</button>
            <button class="btn _transparent">Расчитать стоимость</button>


            <h2 class="article__title">Поддерживающая уборка квартиры</h2>

            <div class="prices">
                <div class="conditions">
                    <div class="price _white">Условия обслуживания</div>
                    <div class="price _white">До 40 кв.м </div>
                    <div class="price _white">От 41-60 кв.м</div>
                    <div class="price _white">От 61-80 кв.м</div>
                    <div class="price _white">От 81-100 кв.м</div>
                    <div class="price _white">От 101-130 кв.м</div>
                </div>
                <div class="conditions">
                    <div class="price">По графику <br> (1 раз. / 1 нед.)</div>
                    <div class="price">4 000,00 р.</div>
                    <div class="price">4 420,00 р.</div>
                    <div class="price">4 890,00 р.</div>
                    <div class="price">4 150,00 р.</div>
                    <div class="price">5 350,00 р.</div>
                </div>
                <div class="conditions">
                    <div class="price">По графику <br> (1 раз. / 1 нед.)</div>
                    <div class="price">3 700,00 р.</div>
                    <div class="price">4 060,00 р.</div>
                    <div class="price">4 450,00 р.</div>
                    <div class="price">4 660,00 р.</div>
                    <div class="price">4 840,00 р.</div>
                </div>
            </div>

            <div class="clining-include">
                <h3 class="clining-include__title">Что входит в уборку</h3>
                <div class="clining-include__descroption">
                    <p>С увеличением площади, доплата за разовую уборку составляет по графику 1 раз / 2 недели
                        составляет 45
                        руб. / 1 кв.м., по графику 1 раз / 1 неделю составляет 35 руб./1 кв.м.</p>
                </div>
            </div>



            <h2 class="article__title">Генеральная уборка:</h2>

            <div class="prices">
                <div class="conditions">
                    <div class="price _white">Условия обслуживания</div>
                    <div class="price _white">До 40 кв.м </div>
                    <div class="price _white">От 41-60 кв.м</div>
                    <div class="price _white">От 61-80 кв.м</div>
                    <div class="price _white">От 81-100 кв.м</div>
                    <div class="price _white">От 101-130 кв.м</div>
                </div>
                <div class="conditions">
                    <div class="price">Разовая</div>
                    <div class="price">8 720,00 р.</div>
                    <div class="price">9 260,00 р.</div>
                    <div class="price">10 800,00 р.</div>
                    <div class="price">11 580,00 р.</div>
                    <div class="price">13 340,00 р.</div>
                </div>
                <div class="conditions">
                    <div class="price">Периодичная</div>
                    <div class="price _full-width">Скидка 15%</div>
                </div>
            </div>

            <div class="clining-include">
                <h3 class="clining-include__title">Что входит в уборку</h3>
                <div class="clining-include__descroption">
                    <h3 class="clining-title">Уборка комнат и коридоров:</h3>
                    <ul class="clining-list">
                        <li class="clining-item">Сухая уборка квартиры</li>
                        <li class="clining-item">влажная уборка полов и плинтусов</li>
                        <li class="clining-item">удаление пыли с осветительных приборов (на всю высоту)</li>
                        <li class="clining-item">влажная уборка подоконников, радиаторов и труб</li>
                        <li class="clining-item">мытье зеркал и стеклянных поверхностей</li>
                        <li class="clining-item">удаление пыли с аксессуаров, предметов интерьера (вазы, рамы картин и т.д.)
                        </li>
                    </ul>
    
                    <h3 class="clining-title">Уборка санузла:</h3>
                    <ul class="clining-list">
                        <li class="clining-item">чистка и дезинфекция сантехники (смесители, раковины, унитазы, биде)</li>
                        <li class="clining-item">удаление налета и водного камня</li>
                    </ul>
                </div>
            </div>

            
        </div>


        <div class="entity-prices prices-cotainer">
            <h1 class="main__title">Цены на клининг для юридических лиц</h1>
            <button class="btn ">Отправить заявку</button>
            <button class="btn _transparent">Расчитать стоимость</button>


            <h2 class="article__title">Поддерживающая уборка квартиры</h2>

            <div class="prices">
                <div class="conditions">
                    <div class="price _white">Условия обслуживания</div>
                    <div class="price _white">До 40 кв.м </div>
                    <div class="price _white">От 41-60 кв.м</div>
                    <div class="price _white">От 61-80 кв.м</div>
                    <div class="price _white">От 81-100 кв.м</div>
                    <div class="price _white">От 101-130 кв.м</div>
                </div>
                <div class="conditions">
                    <div class="price">По графику <br> (1 раз. / 1 нед.)</div>
                    <div class="price">4 000,00 р.</div>
                    <div class="price">4 420,00 р.</div>
                    <div class="price">4 890,00 р.</div>
                    <div class="price">4 150,00 р.</div>
                    <div class="price">5 350,00 р.</div>
                </div>
                <div class="conditions">
                    <div class="price">По графику <br> (1 раз. / 1 нед.)</div>
                    <div class="price">3 700,00 р.</div>
                    <div class="price">4 060,00 р.</div>
                    <div class="price">4 450,00 р.</div>
                    <div class="price">4 660,00 р.</div>
                    <div class="price">4 840,00 р.</div>
                </div>
            </div>
            <div class="clining-include">
                <h3 class="clining-include__title">Что входит в уборку</h3>
                <div class="clining-include__descroption">
                    <p>С увеличением площади, доплата за разовую уборку составляет по графику 1 раз / 2 недели
                        составляет 45
                        руб. / 1 кв.м., по графику 1 раз / 1 неделю составляет 35 руб./1 кв.м.</p>
                </div>
            </div>

            <h2 class="article__title">Генеральная уборка:</h2>

            <div class="prices">
                <div class="conditions">
                    <div class="price _white">Условия обслуживания</div>
                    <div class="price _white">До 40 кв.м </div>
                    <div class="price _white">От 41-60 кв.м</div>
                    <div class="price _white">От 61-80 кв.м</div>
                    <div class="price _white">От 81-100 кв.м</div>
                    <div class="price _white">От 101-130 кв.м</div>
                </div>
                <div class="conditions">
                    <div class="price">Разовая</div>
                    <div class="price">8 720,00 р.</div>
                    <div class="price">9 260,00 р.</div>
                    <div class="price">10 800,00 р.</div>
                    <div class="price">11 580,00 р.</div>
                    <div class="price">13 340,00 р.</div>
                </div>
                <div class="conditions">
                    <div class="price">Периодичная</div>
                    <div class="price _full-width">Скидка 15%</div>
                </div>
            </div>
            <div class="clining-include">
                <h3 class="clining-include__title">Что входит в уборку</h3>
                <div class="clining-include__descroption">
                    <h3 class="clining-title">Уборка комнат и коридоров:</h3>
                    <ul class="clining-list">
                        <li class="clining-item">Сухая уборка квартиры</li>
                        <li class="clining-item">влажная уборка полов и плинтусов</li>
                        <li class="clining-item">удаление пыли с осветительных приборов (на всю высоту)</li>
                        <li class="clining-item">влажная уборка подоконников, радиаторов и труб</li>
                        <li class="clining-item">мытье зеркал и стеклянных поверхностей</li>
                        <li class="clining-item">удаление пыли с аксессуаров, предметов интерьера (вазы, рамы картин и т.д.)
                        </li>
                    </ul>
    
                    <h3 class="clining-title">Уборка санузла:</h3>
                    <ul class="clining-list">
                        <li class="clining-item">чистка и дезинфекция сантехники (смесители, раковины, унитазы, биде)</li>
                        <li class="clining-item">удаление налета и водного камня</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="contact-us">
            <button class="btn">Написать нам</button>
            <p>Чтобы задать вопрос или оформить заказ, нажмите на кнопку ниже:</p>
        </div>

    </div>
</section>