<section class="reviews">
    <div class="container">
        <div class="reviews__header">
            <h1 class="main__title">Отзывы наших клиентов</h1>
            <div id="bage" style="overflow:hidden;position:relative;"><iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/43007519544?comments"></iframe><a href="https://yandex.ru/maps/org/fatum_servis/43007519544/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Фатум Сервис на карте Москвы — Яндекс Карты</a></div>
        </div>

        <div class="reviews__companies">
            <h2 class="article__title">Рукописные отзывы от компаний</h2>

            <div class="swiper mySwiper reviews__swiper">
                <div class="swiper-wrapper navigation-wrapper">
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                    <div class="swiper-slide review">
                        <img src="images/empty.webp" alt="">
                    </div>
                </div>

                <div class="swiper-buttons">
                    <svg class="button-prev" xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13"
                        fill="none">
                        <path d="M7.21338 1.74756L2.21338 6.74756L7.21338 11.7476" stroke="white" stroke-width="2"
                            stroke-linecap="round" />
                    </svg>
                    <span></span>
                    <svg class="button-next" xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13"
                        fill="none">
                        <path d="M1.32764 1.74756L6.32764 6.74756L1.32764 11.7476" stroke="white" stroke-width="2"
                            stroke-linecap="round" />
                    </svg>
                </div>

            </div>

            <div class="reviews__persons">
                <h2 class="article__title">Рукописные отзывы от частных клиентов</h2>

                <div class="swiper mySwiper reviews__swiper">
                    <div class="swiper-wrapper navigation-wrapper">
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                        <div class="swiper-slide review">
                            <img src="images/empty.webp" alt="">
                        </div>
                    </div>

                    <div class="swiper-buttons">
                        <svg class="button-prev" xmlns="http://www.w3.org/2000/svg" width="9" height="13"
                            viewBox="0 0 9 13" fill="none">
                            <path d="M7.21338 1.74756L2.21338 6.74756L7.21338 11.7476" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                        <span></span>
                        <svg class="button-next" xmlns="http://www.w3.org/2000/svg" width="8" height="13"
                            viewBox="0 0 8 13" fill="none">
                            <path d="M1.32764 1.74756L6.32764 6.74756L1.32764 11.7476" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                    </div>

                </div>
            </div>
        </div>

       
    </div>
</section>